.gradle
/local.properties
.idea
*.iml
.DS_Store
/build
ttrssreader/build/
/captures

signingconfig.gradle
ttrssreader/google-services.json

/TTRSS-Reader-*.apk
/TTRSS-Reader-*_mapping.txt
