<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ttrssreader"
    android:installLocation="auto"
    android:versionCode="1301"
    android:versionName="1.3" >

    <application
        android:debuggable="true"
        android:description="@string/ApplicationDescription"
        android:icon="@drawable/icon"
        android:label="@string/ApplicationName" >
        <activity
            android:name=".gui.CategoryActivity"
            android:label="@string/ApplicationName"
            android:theme="@style/Theme.Sherlock" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.FeedActivity"
            android:theme="@style/Theme.Sherlock" />
        <activity
            android:name=".gui.FeedHeadlineActivity"
            android:theme="@style/Theme.Sherlock" />
        <activity android:name=".gui.ArticleActivity" />
        <activity android:name=".gui.PreferencesActivity" />
        <activity android:name=".gui.MediaPlayerActivity" />
        <activity android:name=".gui.ErrorActivity" />
        <activity
            android:name=".gui.AboutActivity"
            android:label="@string/AboutActivity.Title"
            android:theme="@android:style/Theme.Dialog" />

        <service android:name=".imageCache.ForegroundService" />

        <!-- BEGIN: Widget-Stuff -->
        <!-- <activity android:name=".widget.RSSAppWidgetConfigure" > -->
        <!-- <intent-filter > -->
        <!-- <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->


        <!-- <service -->
        <!-- android:name=".widget.RSSWidgetService" -->
        <!-- android:permission="android.permission.BIND_REMOTEVIEWS" /> -->


        <!-- <receiver android:name=".widget.RSSAppWidgetProvider" > -->
        <!-- <intent-filter > -->
        <!-- <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> -->
        <!-- </intent-filter> -->


        <!-- <meta-data -->
        <!-- android:name="android.appwidget.provider" -->
        <!-- android:resource="@xml/ttrss_appwidget_info" /> -->
        <!-- </receiver> -->
        <!-- END: Widget-Stuff -->

    </application>

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="15" />

    <!-- Check connectivity -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Download -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Save articles to SDCard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Vibrate on last article/feed -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

</manifest>