<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ttrssreader"
    android:installLocation="auto"
    android:versionName="0.9.7"
    android:versionCode="973"
>

    <application
        android:icon="@drawable/icon"
        android:label="@string/ApplicationName"
        android:description="@string/ApplicationDescription"
        android:debuggable="true"
    >

        <activity
            android:name=".gui.CategoryActivity"
            android:label="@string/ApplicationName"
        >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.FeedActivity" />
        <activity
            android:name=".gui.FeedHeadlineActivity" />
        <activity
            android:name=".gui.ArticleActivity" />
        <activity
            android:name=".gui.PreferencesActivity" />
        <activity
            android:name=".gui.MediaPlayerActivity" />
        <activity
            android:name=".gui.ErrorActivity" />
        <activity
            android:name=".gui.AboutActivity"
            android:theme="@android:style/Theme.Dialog"
            android:label="@string/AboutActivity.Title" />

        <service
            android:name=".service.ForegroundService" />
    </application>

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="11" />

    <!-- Check connectivity -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Download -->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <!-- Save articles to SDCard -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Vibrate on last article/feed -->
    <uses-permission
        android:name="android.permission.VIBRATE" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

</manifest>
